.about-container {
  display: flex;
  background-color: #93785b;
  height: 40%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px;
}

.about-container p {
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  margin: 0;
}

#about-p {
  padding-bottom: 8px;
  font-size: 20px;
}


.description-title {
  align-self: flex-start;
  margin-left: 10%;
}

.about-desktop-msg {
  display: none;
}

@media (min-width: 1024px) {
  .about-mobile-msg {
    display: none;
  }

  .about-desktop-msg {
    display: contents;
    
  }

  #about-p {
    font-size: 25px;
    padding-bottom: 9px;
  }

  .description-title p {
    font-size: 25px;
  }
  .about-container p {
    font-size: 20px;
    padding-right: 0;
    padding-top: 20px;
  }

}

.lora-unique-400 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lora-unique-700 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}