.about-container {
  display: flex;
  background-color: #93785b;
  height: 40%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* margin: 10px; */
}

.about-container p {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 10px;
  margin-bottom: 15px;
  color: white;
}


.description-title {
  align-self: flex-start;
  margin-left: 10%;
}
.description-title h3 {
  margin-top: 15px;
  margin-bottom:0;
}

.lora-unique-400 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lora-unique-700 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}