.contact-container {
  display: flex;
  /* background-color: #93785b; */
  /* width: 100%; */
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 29px;
  padding-bottom: 29px;
}

.contact-container p {
  color: white;
  font-size: 18px;
}

.contact-container a {
  color: white;
}

.Contact-msg {
  display: none;
}

@media (max-width: 767px) {
  .contact-container p  {
    font-size: 16px;
  }
}