.modal-content {
  height: 87vh;
  overflow-y: scroll;
  background-color: #A69080;
}

.custom-modal-body {
  color: white;
}

.custom-modal-title {
  color: white;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

/* Ensure the modal backdrop covers the whole screen */
.modal-dialog {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100vw;
}

.modal-content {
  /* height: 87vh; */
  overflow-y: scroll;
  background-color: #A69080;
  max-width: 700px; /* Default max-width */
}

/* Styling for the modal body and title */
.custom-modal-body {
  color: white;
}

.custom-modal-title {
  color: white;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}
.modal {
  --bs-modal-margin: 0;
}
/* Media queries for responsive design */

/* Tablet view (min-width: 768px) */
@media (min-width: 768px) {
  .modal-content {
    /* width: 80vw; 
    max-width: 700px;  */
    
  }
}

/* Desktop view (min-width: 992px) */
@media (min-width: 992px) {
  .modal-content {
    /* width: 80vw; 
    max-width: 900px;  */
  }
}

