.swiper {
  width: 39vh;
  height: 100%;
  padding: 10px;
  /* margin: 15px; */
  margin-bottom: 0;
  border-radius: 5px;
  width: 22em;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container {
  margin: 0;
  display: flex;
  align-items: center;
  padding-top: 29px;
}

.swiper-pagination-fraction{
  bottom: var(--swiper-pagination-bottom, 18px)
}
