.photoCollage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.photoCollage-container img {
  width: 200px;
  object-fit: cover;
  cursor: pointer;
  margin: 10px;
  /* border-radius: 8px; */
}

@media (min-width: 1024px) {
  .photoCollage-container {
    width: 90%;
    padding: 40px;
  }
}

@media (max-width: 600px) {
  .photoCollage-container img {
    margin: 0;
    width: 33%;
    border-radius: 8px;
  }
}