.swiper {
  height: 100%;
  padding: 10px;
  margin-bottom: 0;
  border-radius: 8px;
  height: 100%;
  width: 371px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-container {
  display: flex;
  align-items: center;
  padding-top: 0;
  
}

.swiper-pagination-fraction{
  bottom: var(--swiper-pagination-bottom, 18px)
}

.photoModalGallery-img {
  height: 55vh;
}

@media (min-width: 1024px) {
  .swiper {
    width: 31em;
    /* width: 40vw; */
    /* can make image responsive, but it'll zoom in */
  }
  .photoModalGallery-img {
    height: 80vh;
  }

  .photoGallery-img {
    height: 80vh;
  }
}

@media (max-width: 380px) {
  .swiper {
    width: 80vw;
  }
}

