.photoCollage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.photoCollage-container img {
  width: 200px;
  object-fit: cover;
  cursor: pointer;
  margin: 1rem;
}

@media (min-width: 1024px) {
  .photoCollage-container {
    width: 80%;
    padding: 2rem;
  }
}

@media (max-width: 600px) {
  .photoCollage-container img {
    margin: 0;
    width: 33%;
  }
}

@media (min-width: 600px) {
  .photoCollage-container img {
    border-radius: 8px;
  }
}