.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #865D36;
  height: 100%;
  width: 100%;
  font-family: "Lora", serif;
}

.desktop-container1 {
  padding-top: 29px;
  padding-bottom: 29px;
}

@media (min-width: 1024px) {
  .desktop-container1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
  }
}

.lora-unique-400 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lora-unique-700 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}