.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #865D36;
  height: 100%;
  width: 100%;
  font-family: "Lora", serif;
}

.desktop-container1 {
  /* padding-top: 29px;
  padding-bottom: 29px; */
  padding: 40px;
}

.desktop-container2 {
  background-color: #93785b;
  width: 100%;
}

.about-photos img {
  display: none;
  width: 29em;
  height: 30em;
  object-fit: cover;
}

.desktop-container3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

@media (min-width: 1024px) {
  .desktop-container1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
    padding: 40px;
  }

  .about-photos img {
    display: flex;
    border-radius: 8px;
  }

  .desktop-container2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 40px;
  }

}

.lora-unique-400 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lora-unique-700 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}